/* body, html {
  height: 100%;
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1;
} */

.footer {
  background-color: #151414 !important;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.footer-logo {
  height: 50px; 
}
.footer p {
  color: #333; 
  font-size: 16px; 
  text-align: center;
}

.social-media-links {
  margin-bottom: 20px;
}

.social-media-links a {
  color: white;
  margin: 0 10px;
  font-size: 24px; 
}

.social-media-links a:hover {
  color: #007bff; 
}
